<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="../../img/carrousellelectricista.png" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
                 
                <div class="container">
                    <div class="carousel-caption text-start">
                    </div>
                </div>
            </div>

            <div class="carousel-item">

                <img src="../../img/barrioPrivado.png" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>
                <div class="container">
                    <div class="carousel-caption"></div>
                </div>
            </div>

            <div class="carousel-item">

                <img src="../../img/carroussellPlomero.png" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img> 

                <div class="container">
                    <div class="carousel-caption text-end">
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
        <br>

            <!-- Carousel 2 - Perfiles  -->


            <div class="container" align="center">
                <div class="row align-content-center">
                    <div class="col-lg-4">

                        <img src="../../img/iconoMecanico.png" width="140" height="140" class="img-fluid" alt="">

                            <h2 class="fw-normal">Mecanicos</h2>
                            <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
                    </div>
                    <div class="col-lg-4">


                        <img src="../../img/iconoElectricista.png" width="140" height="140" class="img-fluid" alt="">
                            <h2 class="fw-normal">Electricistas</h2>
                            <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>               
                    </div>

                    <div class="col-lg-4">

                        <img src="../../img/iconoContratista.png" width="140" height="140" class="img-fluid" alt="">

                            <h2 class="fw-normal">Contratistas</h2>
                            <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
                    </div>

                    <div class="col-lg-4">

                        <img src="../../img/iconoJardinero.png" width="140" height="140" class="img-fluid" alt=""> 
                            <h2 class="fw-normal">Jardineros</h2>
                            <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
                    </div>

                    <div class="col-lg-4">

                        <img src="../../img/iconoPlomero.png" width="140" height="140" class="img-fluid" alt=""> 
                            <h2 class="fw-normal">Plomeros</h2>
                            <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="fw-normal">Ver mas</h2>
                        <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
                    </div>                
                </div>
                </main>
                <div class="b-example-divider"></div>