<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="../../img/logoProveedorServicios.png" class="bi me-2" width="100%" height="40" role="img" aria-label="Bootstrap"></img>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Tu Perfil</a></li>
                <li><a th:href="@{/proveedor/lista}" class="nav-link px-2 text-white">Profesionales</a></li>
                <!--
                <li><a href="#" class="nav-link px-2 text-white">Registrate</a></li>
                -->
                <li><a th:href="@{/sobreNosotros}" class="nav-link px-2 text-white">Sobre Nosotros</a></li>
            </ul>

<!--            <form sec:authorize="hasRole('ROLE_USUARIO')" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" aria-label="Search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form> -->

            <div class="text-end" th:if="${session.usuariosession == null}">
                <a th:href="@{/usuario/login}" type="button" class="btn btn-outline-light me-2">Login/registro usuario</a>
                <a th:href="@{/proveedor/login}" type="button" class="btn btn-outline-light me-2">Login/registro proveedor</a>
            </div>

            <div th:if="${session.usuariosession != null}" class="dropdown text-end dropdown-menu-end">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i id="loguito" class="far fa-user" style="color: #f6c944;"></i>
                </button>
                <ul  class="dropdown-menu text-small" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" th:href="@{/usuario/__${session.usuariosession.id}__}">Tu perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                </ul>
            </div>

        </div>
    </div>
    
    
    
</header>
